@import url("https://fonts.googleapis.com/css?family=Rubik:400,700,900");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  background: white;
  transition: all 0.5s ease;
  background: white;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
}

header {
  background: #c7b330;
  height: 100%;
  width: 100%;
  background: url("../img/opening.jpg") 0% 50% no-repeat;
  background-size: cover;
  position: relative;
}
header h1 {
  color: #e3e60e;
  position: absolute;
  bottom: 50px;
  left: 170px;
  font-size: 86px;
  line-height: 1.2;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 9px 4px rgba(0, 0, 0, 0.4), 12px 4px rgba(0, 0, 0, 0.9);
}

nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(14, 1fr);
}
nav a {
  line-height: 4;
  height: 100%;
  text-align: center;
  width: 70px;
  transition: all 0.3s ease;
  background: #ff0000;
}
nav a:hover {
  width: 100px;
}

.albums {
  height: 100%;
  width: 100%;
}

.list-item {
  max-width: 1200px;
  height: 120% !important;
  margin-left: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item .center-me {
  display: flex;
  height: 600px;
  width: 100%;
}
.list-item .center-me .about-box {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
}
.list-item .center-me .about-box h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.list-item .center-me .about-box h2 {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 5px;

}
.list-item .center-me .about-box h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 50px;
}
.list-item .center-me .about-box h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .list-item {
    max-width: 1200px;
    height: 130%;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-item .center-me {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
  }
  .list-item .center-me .about-box {
    width: 570px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: uppercase;
  }
  .list-item .center-me .about-box h1 {
    font-size: 90px;
  }
  .list-item .center-me .about-box h2 {
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .list-item .center-me .about-box h3 {
    font-size: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
